@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

.App {
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.Header {
  margin: 80px auto 32px auto;
  max-width: 295px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.Header h2 {
  margin: 16px 0 16px 0;
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.02em;
}

.Header h3 {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  letter-spacing: 4px;
  color: #515151;
  line-height: 20px;
}

.Header p {
  margin: 0;
  padding: 0 8px;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
}

.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1160px;
}

.Card {
  width: 220px;
  margin: 20px;
}

@media (min-width: 520px) {
  .Header {
    max-width: 440px;
  }
}
@media (min-width: 768px) {
  .Header {
    max-width: 616px;
  }
}

@media (min-width: 980px) {
  .Card1 {
    margin-right: 104px;
  }
  .Card2 {
    margin-right: 84px;
  }
  .Card3 {
    margin-right: 0;
  }
  .Card4 {
    margin-right: 104px;
  }
  .Card5 {
    margin-right: 84px;
  }
  .Card6 {
    margin-right: 0;
  }
}

.Card img {
  height: 45px;
  width: 45px;
}

.Card p {
  color:#999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  padding: 0 2px;
  /* or 22px */
  letter-spacing: -0.01em;

}

.Button {
  margin: 24px auto;
}

.Button button {
  width: 214px;
  height: 63px;
  background: #903DDF;
  border-radius: 8px;
  border: 0px;
  color: white;
}